# GNU Emacs temporary files
\#*
.\#*
TAGS

# Backup files
*~
*.bak
*.back
*.old
*.backup

# Any and all logs
*.log
*.log.[0-9]*

# Runtime data and caches
/solr/alphabetical_browse/
/solr/**/spell*
/solr/**/index*
/solr/**/tlog
/local/cache/
/local/harvest/*/
/data/cache/*
/local/config/vufind/config.ini
/local/httpd-vufind.conf
